<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная / ОРТ Манас</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/fonts.css' %}">
    <style>
        .capital {
            background-color: #faa;
        }

        .city {
            background-color: #82b9ea;
        }

        .village {
            background-color: #e8ea82;
        }

        .mountain {
            background-color: #d682ea;
        }

        .top {
            height: 50px;
            display: flex;
            padding: 0 25px;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-size: 1.7em;
        }

        .quit {
            color: #f00;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ОРТ Манас</a>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for i in tours %}
                <li><a href="/tour/{{ i.id }}/">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#{{ subject.id }}" aria-controls="{{ subject.id }}" role="tab" data-toggle="tab">{{ subject.name }}</a></li>
                        {% for i in subjects %}
                        <li role="presentation"><a href="#{{ i.id }}" aria-controls="{{ i.id }}" role="tab" data-toggle="tab">{{ i.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active fade in" id="{{ subject.id }}">
                            <div class="table-responsive">

                                <table class="table table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>Осн.</th>
                                        <th>Доп</th>
                                        <th>Сумма</th>
                                        <th>Сорт</th>
                                        <th>Номер</th>
                                        <th class="text-center">Действие</th>
                                    </tr>
                                    {% for i in abis %}
                                        {% if i.faculty_id == subject.id %}
                                    <tr>
                                        <td>{{ i.ortId }}</td>
                                        <td>{{ i.get_main }}</td>
                                        <td>{{ i.extra_num }}</td>
                                        <td>{{ i.summa }}</td>
                                        {% if i.place == 'Шаар' %}
                                        <td class="capital"></td>
                                            {% elif i.place == 'Борбор' %}
                                            <td class="city"></td>
                                        {% elif i.place == 'Айыл' %}
                                            <td class="village"></td>
                                        {% elif i.place == 'Тоо' %}
                                            <td class="mountain"></td>
                                            {% endif %}
                                        <td></td>
                                        <td class="text-center">
{#                                            <a href="/edit/{{ i.id }}/"><i class="glyphicon glyphicon-pencil"></i> Edit</a>#}
{#                                            <a href="/delete/{{ i.id }}/" class="quit"><i class="glyphicon glyphicon-remove"></i> Delete</a>#}
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% for j in subjects %}
                        <div role="tabpanel" class="tab-pane fade" id="{{ j.id }}">
                        <div class="table-responsive">

                                <table class="table table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>Осн.</th>
                                        <th>Доп</th>
                                        <th>Сумма</th>
                                        <th>Сорт</th>
                                        <th>Номер</th>
                                        <th class="text-center">Действие</th>
                                    </tr>
                            {% for i in abis %}
                                {% if i.faculty_id == j.id %}
                                    <tr>
                                        <td>{{ i.ortId }}</td>
                                        <td>{{ i.get_main }}</td>
                                        <td>{{ i.extra_num }}</td>
                                        <td>{{ i.summa }}</td>
                                        {% if i.place == 'Шаар' %}
                                        <td class="capital"></td>
                                            {% elif i.place == 'Борбор' %}
                                            <td class="city"></td>
                                        {% elif i.place == 'Айыл' %}
                                            <td class="village"></td>
                                        {% elif i.place == 'Тоо' %}
                                            <td class="mountain"></td>
                                            {% endif %}
                                        <td></td>
                                        <td class="text-center">
{#                                            <a href="/edit/{{ i.id }}/"><i class="glyphicon glyphicon-pencil"></i> Edit</a>#}
{#                                            <a href="/delete/{{ i.id }}/" class="quit"><i class="glyphicon glyphicon-remove"></i> Delete</a>#}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                </table>
                        </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="{% static 'dist/js/jquery.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
</body>

</html>